*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace,sans-serif;
}
body{
    background-color: black;
}
.container{
    max-width: 1800px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 100px auto;
}
.task--wrapper{
    background-color: #fff;
    margin:200px 50px;
    position: relative;
    max-width: 40%;
    gap: 40px;
    width: 100%;
    border: 25px dotted rgb(185, 185, 185);
    border-radius: 12px;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.asnwer--wrapper{
    border: 1px solid gray;
    border-radius: 12px;
    padding: 50px 60px;
    width: 100%;

}


h2{
    font-size: 80px;
    color: rgb(255, 255, 255);
    margin-block: 40px;
    position: absolute;
    top: -180px;
}
h3{
    color:cadetblue;
    font-size: 30px;

}
button{
    border-radius: 12px;
    border: none;
    color: white;
    font-size: 20px;
    margin: 20px 0;
    background-color: rgb(0, 0, 255);
    padding: 30px 20px;
    position: relative;
 
}
label,h4{
    font-size: 30px;
    color: rgb(3, 90, 90);
}
span{
    position: absolute;
    bottom: 180px;
    font-size: 45px;
    left: 20px;
    top: 260px;
    color: black;
}